.Countries,
.DarkCountries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 4rem 0 4rem;
}

.Country,
.DarkCountry {
  max-width: 17rem;
  margin: 1rem 1rem 3rem 1rem;
  border-radius: 0.3rem;
  height: 20rem;
  -webkit-box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
}

.DarkCountry {
  background: hsl(209, 23%, 22%);
}

.Country {
  background: hsl(0, 0%, 100%);
}

.DarkCountries h1,
.DarkCountries h3,
.DarkCountries li {
  color: hsl(0, 0%, 100%);
}

h1,
h3,
li {
  font-family: "Nunito Sans", sans-serif;
}

.Country img,
.DarkCountry img {
  width: 17rem;
  height: 10rem;
  border-radius: 0.3rem;
}

ul {
  padding-left: 1.5rem;
}

ul li {
  list-style: none;
  text-align: start;
}

.Country h3,
.DarkCountry h3 {
  padding-left: 1.5rem;
  text-align: start;
}
