.main,
.mainDark {
  min-height: 100vh;
  padding: 0 5rem;
}

.main {
  background: hsl(0, 0%, 98%);
}

.mainDark {
  background: hsl(207, 26%, 17%);
}

@media screen and (max-width: 770px) {
  .main,
.mainDark {
  padding: 0 1rem;
}
}