.countrie,
.darkCountrie {
  display: block;
  height: 91.5vh;
}

.darkCountrie {
  background: hsl(207, 26%, 17%);
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
  align-content: center;
}

.wrapperBtn {
  position: absolute;
  top: -3rem;
}

.btn button,
.darkBtn button {
  padding: 0.3rem 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;

}

.btn button {
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
}

.darkBtn button {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}


.btn button:hover {
  -webkit-box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease-in-out;
}

div.imgCountry,
div.darkImgCountry {
  position: relative;
}

div.imgCountry img,
div.darkImgCountry img {
  width: 37rem;
  height: 24rem;
}

.countryInfo h1,
.darkCountryInfo h1 {
  font-size: 2.5rem;
}

.darkCountryInfoUl li,
.darkCountryInfo h1,
.darkSpanContent  {
  color: hsl(0, 0%, 100%);
}

.countryInfo .countryInfoUl,
.darkCountryInfo .darkCountryInfoUl {
  display: flex;
}

.countryInfo .countryInfoUl .countryInfoLi,
.darkCountryInfo .darkCountryInfoUl .darkCountryInfoLi {
  margin: 0 0 0 -1.5rem;
}

.countryInfoUl li,
.darkCountryInfoUl li {
  margin-bottom: 0.5rem;
  margin-right: 3rem;
  font-size: 1rem;
}

.countryInfo span,
.darkCountryInfo span {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.1rem 2rem;
  font-size: 0.9rem;
  -webkit-box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.spanContent,
.darkSpanContent {
  margin-top: 2rem;
  font-size: 1.1rem;
}

.spanContent p,
.darkSpanContent p {
  margin-bottom: 8px;
}

.darkSpanContent span {
  background: hsl(209, 23%, 22%);
}

@media screen and (max-height: 950px) {

  .countrie,
  .darkCountrie {
    height: 950px;
  }

}

@media screen and (max-width: 640px) {

  .wrapperBtn {
    top: -4rem;
  }

  .countrie,
  .darkCountrie {
    height: 850px;
  }

  div.imgCountry img,
  div.darkImgCountry img {
    width: 24rem;
    height: 17rem;
  }

  .darkCountryInfo,
  .countryInfo {
    padding-right: 4rem;
  }

  .darkCountryInfo .darkCountryInfoUl,
  .countryInfo .countryInfoUl {
    display: block;
  }
  .countryInfoLi02 {
    padding: 0;
    margin: 2rem 0 0 0;
  }

  .countryInfo h1,
  .darkCountryInfo h1 {
  font-size: 2rem;
  }

}

@media screen and (max-width: 500px) {

  div.imgCountry img,
  div.darkImgCountry img {
    width: 20rem;
    height: 13rem;
    padding: 0;
  }

  .content .darkCountryInfo,
  .content .countryInfo {
    width: 320px;
    padding-right: 0;
  }

  .darkSpanContent span:nth-child(2),
  .spanContent span:nth-child(2) {
    margin-left: 0;
  }
}