.nav,
.navDark {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
  -webkit-box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 9px -1px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.nav {
  background: white;
}

.navDark {
  background: hsl(209, 23%, 22%);
}

.navDark h2,
.navDark p {
  color: hsl(0, 0%, 100%);
}
nav {
  font-family: "Nunito Sans", sans-serif;
}

h2 {
  font-size: 1.3rem;
  animation-name: mood;
  animation-duration: 1s;
}

nav p {
  font-weight: bold;
  animation-name: mood;
  animation-duration: 1s;
}

nav div.svg {
  display: flex;
  flex-wrap: nowrap;
  min-width: 7.5rem;
}

div.svg img {
  max-width: 1.3rem;
  margin-right: 0.5rem;
}

.svg {
  cursor: pointer;
}

.nav svg,
.navDark svg {
  align-self: center;
  margin-right: 0.25rem;
  animation-name: mood;
  animation-duration: 1s;
}

.navDark svg {
  color: white;
}

@keyframes mood {
  from {
    opacity: 0;
    transform: translateY(-20rem);
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 770px) {
  .nav,
  .navDark {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 0.9rem;
    animation-name: mood;
    animation-duration: 2s;
  }
  
  nav p {
    font-weight: 600;
    font-size: 0.8rem;
  }

  nav svg {
    width: 18px !important;
  }

  div.svg {
    justify-content: flex-end;
  }
}